---
import BaseLayout from "../layouts/BaseLayout.astro";
import "./pages.css";

const singleResponse = await fetch(
  "https://www.roastdinnersaroundtheworld.com/graphql",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
        query SinglePost($id: ID = "272") {
          page(idType: DATABASE_ID, id: $id) {
            date
            content
            title
            featuredImage {
              node {
                sourceUrl
                srcSet
              }
            }
            seo {
              opengraphTitle
              opengraphDescription
              opengraphSiteName
              opengraphImage {
                uri
                altText
                mediaDetails {
                  file
                  height
                  width
                }
                mediaItemUrl
                sourceUrl
                srcSet
              }
            }
          }
        }
        `,
    }),
  }
);

const { data } = await singleResponse.json();

const singlePost = data.page;
---

<BaseLayout
  pageTitle={singlePost.title}
  description={singlePost.seo.opengraphDescription}
  opengraphImage={singlePost.seo.opengraphImage?.sourceUrl}
>
  <!-- <Image
    src={singlePost.featuredImage?.node.sourceUrl}
    alt={singlePost.title}
    width={5000}
    height={5000}
    class='featured-image'
    loading="eager"
    srcset={singlePost.featuredImage.node.srcSet}
    sizes=`(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw`
  /> -->
  <div class="container">
    <h2>{singlePost.title}</h2>
    <div set:html={singlePost.content} />
  </div>
</BaseLayout>
