---
import BaseLayout from "../layouts/BaseLayout.astro";
import "./league-of-roasts.css";
import "./../layouts/layout.css";

const response = await fetch(
  "https://www.roastdinnersaroundtheworld.com/wp-json/wp/v2/posts"
);

const totalPosts = response.headers.get("X-WP-Total");

console.log(`Total number of posts: ${totalPosts}`);

const postsResponse = await fetch(
  "https://www.roastdinnersaroundtheworld.com/graphql",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
        query AllSlugs {
          posts {
            nodes {
              slug
              title
              customfields {
                rating
                currency
                price
                meat
                country
                yearVisited
              }
            }
          }
        }
        `,
    }),
  }
);

const { data } = await postsResponse.json();

const posts = data.posts.nodes;

const sortedByRating = (posts) => {
  return posts.sort((a, b) => b.customfields.rating - a.customfields.rating);
};
---

<BaseLayout pageTitle='League Of Roasts Around The World'>
  <div class='container'>
    <h2>League Of Roasts:</h2>
    <ol class='grid-container'>
      {
        sortedByRating(posts).map((post) => (
          <li class='grid-item'>
            <a href={post.slug} target='_blank' rel='noopener noreferrer'>
              <Fragment set:html={post.title} />
            </a>
            <span>{post.customfields.rating}</span>
            <span>
              {`${post.customfields.currency}${post.customfields.price}`}
            </span>
            <span>{post.customfields.meat}</span>
            <span>{post.customfields.country}</span>
            <span>{post.customfields.yearVisited}</span>
          </li>
        ))
      }
    </ol>
  </div>
</BaseLayout>
