---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchGraphQL } from "../lib/api";
import SINGLE_POST_QUERY from "../lib/graphql/queries/singlePost";
import "./pages.css";

const variables = { id: "40" };
let singlePost;

try {
  const { page } = await fetchGraphQL(SINGLE_POST_QUERY, variables);
  singlePost = page;
} catch (error) {
  console.error("Error fetching GraphQL data:", error);
  singlePost = null;
}
---

<BaseLayout
  pageTitle={singlePost.title}
  description={singlePost.seo.opengraphDescription}
  opengraphImage={singlePost.seo.opengraphImage?.sourceUrl}
>
  <!-- <Image
    src={singlePost.featuredImage?.node.sourceUrl}
    alt={singlePost.title}
    width={5000}
    height={5000}
    class='featured-image'
  /> -->
  <div class="container">
    <h2>{singlePost.title}</h2>
    <div set:html={singlePost.content} />
  </div>
</BaseLayout>
